@model IEnumerable<ProyectoDSWToolify.Models.ViewModels.ListadoVentaFechaAndTipoVentaDTO>

@{
    ViewData["Title"] = "Reporte1";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Reporte1</h1>


<form asp-action="Reporte1" method="get">
    <div>
        <label for="fechaInicio">Fecha Inicio</label>
        <input type="date"
               id="fechaInicio"
               name="fechaInicio"
               value="" />
    </div>

    <div>
        <label for="fechaFin">Fecha Fin</label>
        <input type="date"
               id="fechaFin"
               name="fechaFin"
               value="" />
    </div>

    <div>
        <label for="tipo">Tipo De Venta</label>
        <select name="tipo" id="" class="form-control">
            <option value="">--SELECCIONE--</option>
            <option value="P">Presencial </option>
            <option value="R">Remota</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombresCompletos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaGenerada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombresCompletos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaGenerada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoVenta)
            </td>
            
        </tr>
}
    </tbody>
</table>
