@model IEnumerable<ProyectoDSWToolify.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Proveedor</h1>

<p>
    <a asp-action="Create">Agregar Proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ruc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.razonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaRegistro)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ruc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.distrito.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRegistro)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.idProveedor  }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.idProveedor }) |
                @Html.ActionLink("Desactivar", "Delete", new { id = item.idProveedor })
            </td>
        </tr>
}
    </tbody>
</table>
